GitPython
Jinja2
Markdown
PyJWT
PyQt5
PySocks
PyYAML
Pygments
SQLAlchemy
Scrapy
Sphinx
altair
black
bokeh
cryptography
dask
matplotlib
numpy
pandas
plotly
pydantic
pytest
scikit-learn
scipy
seaborn
streamlit
xarray
